html {
  font-size: var(--FS);
  font-family: var(--FF);
}

body {
  min-height: 100vh;
  background-color: var(--BGCOLOR);
  background-image: var(--GRADIENT-BACKGROUND);
  color: var(--FONT-COLOR);
}

:focus-visible {
  outline-offset: 0.25rem;
  outline-style: dashed;
  outline-color: var(--PINK-400);
}
